
<div class="div1">
  <table border="2">
  <h1 class="a">Login</h1>
  <div>
    <label class="text">Email_id</label>&nbsp;&nbsp;
    <input type="email" [(ngModel)]="Email_id" placeholder="Enter Email_id" class="textbox"> 
  </div>
  <br>
  <div>
  <label class="text">Password</label>&nbsp;
  <input type="password" [(ngModel)]="Password" placeholder="Enter Password" class="textbox">
  </div>
  <br>
  <br>
  <div>
    <button (click)="onLogin()" class="login">Login</button>
  </div>
  <br>
  <div>
    <button (click)="onclicksignup()" class="signup">Sign Up</button>
        <button (click)="onforgotpass()" class="forget">Forget Password?</button>
  </div>
</table>
</div>
