.a
{
    margin-top:-10px;
    font-size:45px;
    margin-left:30px;
    font-family:Cambria, Cochin, Georgia, Times, Times New Roman, serif
}
.text
{
    font-size: 25px;
}
.textbox
{
    font-size:20px;
}
.login
{
    margin-top:20px;
    margin-left:110px;
    font-size: 25px;
    color: blue;
}
.signup
{
    margin-left:-9px;
    font-size: 18px;
    color: red;
}
.forget
{
    color:red;
    font-size: 18px;
    margin-left:170px;
}
table
{
    padding:20px;
}
.div1
{
    padding:180px;
    margin-left:250px;
}